# Database
DATABASE_URL="file:./dev.db"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Admin Credentials (for demo purposes)
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="password"